* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .4s;
}

li {
    list-style: none;
}

html,
body {
    width: 100%;
    min-width: 1226px;
}

body {
    font: 14px/1.5 "Microsoft YaHei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}